#info {
    display: none;
}

#status {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(91, 91, 255);
    background-size: cover;
    margin: auto;
    margin-bottom: 50px;
    /* display: none; */
}

#youtube {
    margin-top: 10px;
    margin: auto;
    background-color: rgb(91, 91, 255);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}