/* BACKGROUND IMAGES */
    #img1 {
        background-image: url('backgrounds/accounts-blur-button-267350.jpg');
    }

    #img2 {
        background-image: url('backgrounds/settings.jpg');
    }

    .bubble {
        text-align: left;
        margin: 50px 0;
        border-radius: 20px;
        background-color: rgb(255, 41, 41);
        padding: 20px;
    }

#googlemaps {
    height: 50vh;
}